.card {
    background-color: #fff;
    border-radius: 12px;
    height: 160px;
    margin: 1rem;
    display: inline-block;
    width: 160px;
    text-align: center;
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > img {
    height: 150px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}