html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("/images/grey.png");
    margin-bottom: 55px;
}

header {
    background-color: #343A40;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Fira Mono', sans-serif;
}

header img {
    width: 60px;
    transform: translateY(-3px);
}

.main {
    margin-bottom: 150px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    text-align: center;
    width: 100%;
    background-color: #343A40;
    border-top: 5px solid #56A247;
}

footer i {
    color: #fff;
    line-height: 45px !important;
}

footer i:hover {
    color: #ddd;
}

footer small {
    line-height: 40px;
    color: #ddd;
    font-size: 12px;
}



